{% extends 'base.html' %}

{% block content %}

<br>

<div style="width: 980px; margin: 0 auto; overflow: hidden;">
    <form class="form">

        <label for="queryTerm" class="sr-only">OSS Project</label>
        <input type="name" name="queryTerm" id="queryTerm" class="form-control" placeholder="OSS Project" required autofocus>


        <!--<div style="float: right; width:20%;">
               <button id="btnEnter" class="btn btn-lg btn-primary btn-block" type="button">Search</button>
        </div>-->
    </form>
</div>

    <br>

     <div class="container">
        <div class="row">
          <div class="col-sm-12 ">
         
             <p class="text-muted">   The most updated hard <b> criteria </b>  we used to screen FOSS projects for inclusion on OSSpal are listed below. Please note that the hard criteria will also be updated on a regular basis. </p>

             <div class="row">
                 <div class="col-sm-6 col-sm-offset-1">
                     <p class="text-muted" text-align="center">  Open Hub Metrics contribute to Maturity Score (as of October 2018): </p>
				 </div>				 
				 <div class="col-sm-6 col-sm-offset-2">
                     <p class="text-muted" text-align="center">     Number of 12 Month Contributors ≥ 2 </p>
                     <p class="text-muted" text-align="center">     Number of Total Contributors ≥ 5 </p>
					 <p class="text-muted" text-align="center">     Number of Lines of Code Changed in 6 Months ≥ 20000 or ≥ 5% </p>
				 </div>
				 <div class="col-sm-6 col-sm-offset-1">
                     <p class="text-muted" text-align="center">     GitHub Metrics contribute to Maturity Score (as of October 2018): </p>
				 </div>
				 <div class="col-sm-6 col-sm-offset-2">
                     <p class="text-muted" text-align="center">    Number of Starts ≥ 100 </p>
                     <p class="text-muted" text-align="center">    Number of Forks ≥ 100 </p>
                     <p class="text-muted" text-align="center">    Number of Open Issues ≥ 50 </p>
				 </div>
				 
				 <div class="col-sm-6 col-sm-offset-1">
					 <p class="text-muted" text-align="center">  Open Hub Metrics contribute to Value Score (as of October 2018):</p>
				 </div>
				 <div class="col-sm-6 col-sm-offset-2">
					 <p class="text-muted" text-align="center">     Number of Users ≥ 50 </p>
					 <p class="text-muted" text-align="center">     Number of Man Month work ≥ 500 </p>
				 </div>
				 
				 <div class="col-sm-6 col-sm-offset-1">
					 <p class="text-muted" text-align="center">  Other Matrics (as of October 2018):</p>
				 </div>
				 <div class="col-sm-6 col-sm-offset-2">
                     <p class="text-muted" text-align="center">     Number of 6 Month Commits ≥ 50 </p>
                     <p class="text-muted" text-align="center">     Number of Total Commits ≥ 1000 </p>
                     <p class="text-muted" text-align="center">     Number of Subscribers ≥ 50 </p>
                 </div>
             </div>
            <p class="text-muted"> Information from OpenHub and GitHub may not be accurate. Please use as appropriate. </p>
          </div>
        </div>
    </div>
{% endblock %}