{% extends 'base.html' %}

{% block content %}

<br>

<div class="grid">
  <div class="row">
      <div class="col-sm-12 col-sm-offset-3 wow fadeInUp">
          <div class="row">
              <h3> Query <a href="https://www.openhub.net/"> Openhub </a>  <b> {{result.query_openhub_success}} </b>  </h3>
          </div>
      </div>
    <div class="col-sm-9 col-sm-offset-3 c-form-box wow fadeInUp">
        <div class="row">
            <div class="col-sm-3">
                <label> Query Item </label>
            </div>
            <div class="col-sm-3">
                <label> Query Result</label>
            </div>
            <div class="col-sm-3">
               <label>  Judgment </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> OpenHub URL </label>
            </div>
            <div class="col-sm-3">
               <a href="{{result.project_html_url}}"> {{result.project_html_url}} </a>
            </div>
            <div class="col-sm-3">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> Number of 12 Month Contributors </label>
            </div>
            <div class="col-sm-3">
                {{result.project_twelve_month_contributor_count}}
            </div>
             <div class="col-sm-3">
               <p> {{result.project_twelve_month_contributor_count_filter}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> Number of Total Contributors </label>
            </div>
            <div class="col-sm-3">
                <p>{{result.project_total_contributor_count}}</p>
            </div>
             <div class="col-sm-3">
               <p> {{result.project_total_contributor_count_filter}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> Number of 6 Month Commits </label>
            </div>
            <div class="col-sm-3">
                <p> {{result.project_twelve_month_commit_count}}</p>
            </div>
             <div class="col-sm-3">
               <p> {{result.project_twelve_month_commit_count_filter}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> Number of Total Commits </label>
            </div>
            <div class="col-sm-3">
                <p>{{result.project_total_commit_count}}</p>
            </div>
             <div class="col-sm-3">
               <p> {{result.project_total_commit_count_filter}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> Number of Total Code Lines </label>
            </div>
            <div class="col-sm-3">
                <p>{{result.project_total_code_lines}}</p>
            </div>
             <div class="col-sm-3">
               <p>  </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> Name of Main Coding Language </label>
            </div>
            <div class="col-sm-3">
                <p> {{result.project_main_language_name}}</p>
            </div>
             <div class="col-sm-3">
               <p>  </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> License </label>
            </div>
            <div class="col-sm-3">
                <p> {{result.project_license}}</p>
            </div>
             <div class="col-sm-3">
               <p>  </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> Activity Level </label>
            </div>
            <div class="col-sm-3">
                <p> {{result.project_project_activity_index_description}}</p>
            </div>
             <div class="col-sm-3">
               <p> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> Number of Users </label>
            </div>
            <div class="col-sm-3">
                <p> {{result.project_user_count}}</p>
            </div>
             <div class="col-sm-3">
               <p> {{result.project_user_count_filter}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> Volume of Work (Man-Month) </label>
            </div>
            <div class="col-sm-3">
                <p> {{result.project_man_month}}</p>
            </div>
             <div class="col-sm-3">
               <p> {{result.project_man_month_filter}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> Number of 6 Month Commits </label>
            </div>
            <div class="col-sm-3">
                <p> {{result.project_code_diff}}</p>
            </div>
             <div class="col-sm-3">
               <p> {{result.project_code_diff_filter}}</p>
            </div>
        </div>

     </div>
    </div>


<div class="row">
      <div class="col-sm-12 col-sm-offset-3 wow fadeInUp">
          <div class="row">
              <h3> Query <a href="https://github.com/"> Github </a> </h3>
          </div>
      </div>
    <div class="col-sm-9 col-sm-offset-3 c-form-box wow fadeInUp">
        <div class="row">
            <div class="col-sm-3">
                <label> Query Item </label>
            </div>
            <div class="col-sm-3">
                <label> Query Result</label>
            </div>
            <div class="col-sm-3">
               <label>  Judgment </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> GitHub URL </label>
            </div>
            <div class="col-sm-3">
               <a href="{{res.github_url}}"> {{res.github_url}} </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> Number of Starts </label>
            </div>
            <div class="col-sm-3">
                {{res.number_of_stars}}
            </div>
            <div class="col-sm-3">
               <p> {{res.number_of_stars_filter}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> Number of Forks </label>
            </div>
            <div class="col-sm-3">
                <p>{{res.number_of_forks}}</p>
            </div>
            <div class="col-sm-3">
                <p>{{res.number_of_forks_filter}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> Latest Release Publish Date </label>
            </div>
            <div class="col-sm-3">
                <p> {{res.latest_release_publish_date}}</p>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> License </label>
            </div>
            <div class="col-sm-3">
                <p>{{res.license}}</p>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> Number of Open Issues </label>
            </div>
            <div class="col-sm-3">
                <p>{{res.open_issues_count}}</p>
            </div>
            <div class="col-sm-3">
                {{res.open_issues_count_filter}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label> Number of Subscribers </label>
            </div>
            <div class="col-sm-3">
                <p> {{res.subscribers_count}}</p>
            </div>
            <div class="col-sm-3">
               <p>  {{res.subscribers_count_filter}} </p>
            </div>
        </div>


    </div>
    </div>

 </div>
 <br>
 <div class="text-center">
	<a onclick="goBack()" class="btn btn-primary" >Back to Assessment</a>
</div>
<script>
function goBack() {
    window.history.back();
}
</script>

 <br>
    <br>

     <div class="container">
        <div class="row">
          <div class="col-sm-12 ">
         
             <p class="text-muted">   The most updated hard <b> criteria </b>  we used to screen FOSS projects for inclusion on OSSpal are listed below. Please note that the hard criteria will also be updated on a regular basis. </p>

             <div class="row">
                 <div class="col-sm-6 col-sm-offset-1">
                     <p class="text-muted" text-align="center">  Open Hub Metrics contribute to Maturity Score (as of October 2018): </p>
				 </div>				 
				 <div class="text-muted col-sm-9 col-sm-offset-2 c-form-box wow fadeInUp">
					<div class="row">
						<div class="col-sm-7">
							Number of 12 Month Contributors ≥ 2
						</div>
						<div class="col-sm-2">
							{{result.score_twelve_month_contributor}}/{{result.total_score_twelve_month_contributor}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-7">
							Number of Total Contributors ≥ 5
						</div>
						<div class="col-sm-2">
							{{result.score_total_contributor}}/{{result.total_score_total_contributor}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-7">
							Number of Lines of Code Changed in 6 Months ≥ 20000 or ≥ 5%
						</div>
						<div class="col-sm-2">
							{{result.score_code_diff}}/{{result.total_score_code_diff}}
						</div>
					</div>
				 </div>
				 <div class="col-sm-6 col-sm-offset-1">
                     <p class="text-muted" text-align="center">     GitHub Metrics contribute to Maturity Score (as of October 2018): </p>
				 </div>
				 <div class="text-muted col-sm-9 col-sm-offset-2 c-form-box wow fadeInUp">
					<div class="row">
						<div class="col-sm-7">
							Number of Starts ≥ 100
						</div>
						<div class="col-sm-2">
							{{res.score_stars}}/{{res.total_score_stars}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-7">
							Number of Forks ≥ 100
						</div>
						<div class="col-sm-2">
							{{res.score_forks}}/{{res.total_score_forks}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-7">
							Number of Open Issues ≥ 50
						</div>
						<div class="col-sm-2">
							{{res.score_open_issues}}/{{res.total_score_open_issues}}
						</div>
					</div>
				 </div>
				 
				 <div class="col-sm-6 col-sm-offset-1">
					 <p class="text-muted" text-align="center">  Open Hub Metrics contribute to Value Score (as of October 2018):</p>
				 </div>
				 <div class="text-muted col-sm-9 col-sm-offset-2 c-form-box wow fadeInUp">
					<div class="row">
						<div class="col-sm-7">
							Number of Users ≥ 50
						</div>
						<div class="col-sm-2">
							{{result.score_user_count}}/{{result.total_score_user_count}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-7">
							Number of Man Month work ≥ 500
						</div>
						<div class="col-sm-2">
							{{result.score_man_month}}/{{result.total_score_man_month}}
						</div>
					</div>
				 </div>
				 
				 <div class="col-sm-6 col-sm-offset-1">
					 <p class="text-muted" text-align="center">  Other Matrics (as of October 2018):</p>
				 </div>
				 <div class="text-muted col-sm-9 col-sm-offset-2 c-form-box wow fadeInUp">
					<div class="row">
						<div class="col-sm-7">
							Number of 6 Month Commits ≥ 50
						</div>
					</div>
					<div class="row">
						<div class="col-sm-7">
							Number of Total Commits ≥ 1000
						</div>
					</div>
					<div class="row">
						<div class="col-sm-7">
							Number of Subscribers ≥ 50
						</div>
					</div>
				 </div>
             </div>
            <p class="text-muted"> Information from OpenHub and GitHub may not be accurate. Please use as appropriate. </p>
          </div>
        </div>
    </div>
{% endblock %}
